
<ul id="links">
  <!--  --> 

<% @links.each do |link| %> <!-- links is an array of objects of link. rackup and then look in command line for array of objects.  -->
<li><%= link.title %> : <%= link.url %></li>
<% end %>
</ul>
