<form method="post" action="/links">
Title: <input type="text" name="title" required>
URL: <input type="text" name="url" required>
Tags:<input type="text" name="tags" placeholder="eg. tag1, tag2, etc..." required>
<input type="submit" value="Save Link">
</form>
